# Real Estate Clustering for Single Family Residence in Georgia State

## Part 1: Data Cleaning

In [1]:
# Import the required modules

import numpy as np
import pandas as pd
from shapely.geometry import Point, Polygon
import geopandas as gpd
from geopandas import GeoDataFrame
%matplotlib inline


#from PlottingFunctions import *
import matplotlib.pyplot as plt



import seaborn as sns

print("the modules are imported...")

the modules are imported...

### About this Project

This is a partnership research between NYC Data Science Academy and HaystackAI.

We used the latest Machine Learning sk-learn models for descriptive data analysis in Python.

Objective of The Project:
To provide insight on how to use clustering to identify outliers in the housing market, characterise and identify different kinds of anomalies, and identify opportunities for investment in each neighbourhood.

 To provide data backed insight for Single family Rensidence( SFR) PropTech investor who wish to invest in a place with long term growth by highlighting different areas with increased gentrification.

 To Provide diverse metrics to identify unappreciated opportunities and enable real estate professionals to be ahead of the marketâ€¨.

The Motivation of The Project:
The traditional use of ZipCodes for demarcation of local areas have limited use in the business context as there can be different zip codes that represent the same market and vice versa.

We try to use  Machine learning Clustering techniques to determine the natural group of clusters for Single Family Residence.

The Data:
The data used for this project was provided by HaystackAI and protected under extant copy right laws. Other alternative sources of data that are publicly available were from Broker Listing Data,Crime_Diary, Census, Local News, Amenities, Finance and
were downloaded from the assessors website as text files and contained both categorical and continuous data. We used unsupervised learning method for this project, created clusters of properties with geocoded locations to identify properties and their locations with similarities over a large number of features. 
Principal Component Analysis PCA, was used for dimensionality reduction, and unsupervised clustering was performed using k-means, hierarchical agglomerative clustering (HCA) and Density-Based Spatial Clustering of Applications with Noise (DBSCAN) using scikit-learn libraries.

We identified seven natural clusters with unique descriptions and diverse investment potentials. We tested different clustering techniques including Kmeans with different initialisations, MiniBatchKmeans, Agglomerative Hierarchical Clustering and DBSCAN. 

 We used the Elbow Method and Silhouette scores metrics for determining the optimum number of clusters. 



 Cluster 1 , for example, has these characteristics, lower cost, very high crime rate, very high rate of growth, fewer amenities. It is likely attractive for investors that target lower income buyers and who would like to maximise ROI. 

 Similarly, Cluster 3 has these characteristics, lower cost, stable crime rate, very high rate of growth-good amenities. It is ideal for medium term investors.

### Data Sources:
The original data are available for [download](https://www.dropbox.com/scl/fo/bh70krwnoqfu6aez6stjl/h?dl=0&rlkey=chg5x52avhg5norg67dpo8vrr). 


# Sources of Data2
https://www.georgia.org/demographics
https://www.zillow.com/research/data/

### Property Details

The file GA_LISTING_SALES.csv:

    - There are 21 variables (columns) of data
    - There are 31,064 records (rows)
    - Data types include 'object','float64','int64
    - The longitude and latitude files uniquely identifies each property

In [2]:
#  import the housing data for Georgia State. Merge the file with missing files from external soyrce
gadf =pd.read_csv("~/Desktop/Python_Machine_Learning_Project/ga_housing/GA_LISTINGS_SALES.csv")
print("gadf has been imported")

# import the population data
popdf = pd.read_csv("~/Desktop/Python_Machine_Learning_Project/ga_housing/ga_population.csv")
print("popdf has been imported")
sfr1 = pd.read_csv("~/Desktop/Python_Machine_Learning_Project/ga_housing/sfr1.csv")
print("sfr1 has been imported")
#age_proj = pd.read_csv("~/Desktop/Python_Machine_Learning_Project/ga_housing/age_proj.csv")
pop_proj = pd.read_csv("~/Desktop/Python_Machine_Learning_Project/ga_housing/pop_proj.csv")
print("pop_proj has been imported")
#gadf = pd.merge(gadf, zipdf,  how='left', left_on=['zip'], right_on = ['Zip Code']) 

ga_incdf = pd.read_csv("~/Desktop/Python_Machine_Learning_Project/ga_housing/ga_income.csv")
print("ga_incdf has been imported")
# import the income distribution df
saldf = pd.read_csv("~/Desktop/Python_Machine_Learning_Project/ga_housing/ga_salary2.csv")
print("saldf has been imported")
# import the income distribution df
pop2df = pd.read_csv("~/Desktop/Python_Machine_Learning_Project/ga_housing/ga_population3.csv")
print("pop2df has been imported")
pop4df = pd.read_csv("~/Desktop/Python_Machine_Learning_Project/ga_housing/ga_pop_4.csv")
print("pop4df has been imported")
gadf

print('\n  Summary. :  \n gadf: {},\n popdf: {},\n sfr1: {},\n pop_proj: {},\n ga_incdf {},\n saldf {},\n pop2df {},\n pop4df {}'.format(gadf.shape, popdf.shape, sfr1.shape, pop_proj.shape, ga_incdf.shape,gadf.shape, popdf.shape, sfr1.shape,saldf.shape, pop2df.shape, pop4df.shape))

gadf has been imported
popdf has been imported
sfr1 has been imported
pop_proj has been imported
ga_incdf has been imported
saldf has been imported
pop2df has been imported
pop4df has been imported

  Summary. :
 gadf: (31064, 21),
 popdf: (500, 6),
 sfr1: (908, 276),
 pop_proj: (160, 8),
 ga_incdf (676, 6),
 saldf (31064, 21),
 pop2df (500, 6),
 pop4df (908, 276)

In [3]:
gadf

,Unnamed: 0,latitude,longitude,city,county_name,beds,baths_full,baths_half,square_footage,lot_size,...,details,special_features,unit_count,price,transaction_type,listing_status,listing_special_features,census_state_name,census_county_name,zip
0,0,30.725605,-83.671772,Quitman,Brooks-County,NaN,NaN,NaN,NaN,4.0,...,"Lots/Land, 4.93 Acres",0,NaN,51900,1,0,0,Georgia,"Brooks, GA",31643
1,1,30.781796,-83.558475,Quitman,Brooks-County,3.0,1.0,NaN,1460.0,0.0,...,"Detached, 3 Beds, 1 Bath, 1,460 Sq Ft",0,NaN,99000,1,1,0,Georgia,"Brooks, GA",31643
2,2,30.864096,-81.622765,Woodbine,Camden-County,3.0,2.0,NaN,1254.0,0.0,...,"Detached, 3 Beds, 2 Baths, 1,254 Sq Ft",0,NaN,245816,1,1,0,Georgia,"Camden, GA",31569
3,3,30.796300,-81.681675,Kingsland,Camden-County,2.0,2.0,NaN,1016.0,0.0,...,"Townhouse, 2 Beds, 2 Baths, 1,016 Sq Ft",0,NaN,155000,1,1,0,Georgia,"Camden, GA",31548
4,4,30.762972,-81.660240,Kingsland,Camden-County,3.0,2.0,NaN,1618.0,0.0,...,"Detached, 3 Beds, 2 Baths, 1,618 Sq Ft",0,NaN,200000,1,1,0,Georgia,"Camden, GA",31548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31059,31059,34.570284,-83.261971,Toccoa,Stephens-County,NaN,NaN,NaN,NaN,1.0,...,"Lots/Land, 1.03 Acres",0,NaN,24900,1,1,0,Georgia,"Stephens, GA",30577
31060,31060,34.564495,-83.375946,Toccoa,Stephens-County,NaN,NaN,NaN,NaN,3.0,...,"Lots/Land, 3.42 Acres",0,NaN,37750,1,1,0,Georgia,"Stephens, GA",30577
31061,31061,34.551258,-83.281332,Eastanollee,Stephens-County,NaN,NaN,NaN,NaN,2.0,...,"Other, 2.23 Acres",0,NaN,850000,1,1,0,Georgia,"Stephens, GA",30538
31062,31062,34.548427,-83.278913,Toccoa,Stephens-County,NaN,NaN,NaN,NaN,2.0,...,"Commercial, 2.23 Acres",2,NaN,850000,1,1,2,Georgia,"Stephens, GA",30577
31063,31063,34.543198,-83.147887,Martin,Stephens-County,NaN,NaN,NaN,NaN,7.0,...,"Lots/Land, 7.00 Acres",0,NaN,147000,1,1,0,Georgia,"Stephens, GA",30557

In [4]:
# cleaning of the alternative data on sfr
sfr1 = sfr1[ sfr1["2000-01-31"].notnull()][sfr1.StateName =="GA"]
print("sfr1 has been subseted")
sfr1["RegionName"] = list(map(lambda x: x.replace(", GA", "").replace(" County", "").replace(" ", "").replace("-",""), sfr1["RegionName"]))
print("sfr1 RegionName has been trimmed")
sfr2=pd.DataFrame()
print("sfr2 has been defined")
sfr2["RegionName"] = sfr1["RegionName"]
for i in range(0, len(sfr1.iloc[:,5:].columns)-12,12):
    sfr2["Avg_growth_{}".format(2000+i/12)] = list(map(lambda x,y: 100*(float(y)-float(x))/(float(x)+0.0001),sfr1.iloc[:,5+i:i+17].mean(axis=1),sfr1.iloc[:,17+i:i+29].mean(axis=1)))


sfr3= pd.DataFrame()
print("sfr3 has been initilised")
sfr3["RegionName"] = sfr1["RegionName"]
sfr3['Avg_sfrgrowth_2021.0'] =sfr2['Avg_growth_2021.0']
sfr3["avg_5yr_sfrgrowth"] = sfr2.iloc[:,18:].mean(axis=1)
sfr3["min_5yr_sfrgrowth"] = sfr2.iloc[:,18:].min(axis=1)
sfr3["max_5yr_sfrgrowth"] = sfr2.iloc[:,18:].max(axis=1)
sfr3.head()

sfr1 has been subseted
sfr1 RegionName has been trimmed
sfr2 has been defined
sfr3 has been initilised

/var/folders/04/cszrdrg50q9gqrdnh622flsh0000gn/T/ipykernel_25406/938735155.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  sfr1 = sfr1[ sfr1["2000-01-31"].notnull()][sfr1.StateName =="GA"]

,RegionName,Avg_sfrgrowth_2021.0,avg_5yr_sfrgrowth,min_5yr_sfrgrowth,max_5yr_sfrgrowth
9,Atlanta,22.057347,12.466103,5.738331,22.057347
94,Augusta,14.688821,9.260944,4.746227,14.688821
147,Savannah,20.035427,9.270366,2.702805,20.035427
161,Columbus,11.806439,7.604225,4.214958,12.694100
189,MaconBibb,17.178663,9.766391,4.672877,17.178663

In [5]:
# Merging of alternative data to the original data
gadf = gadf.iloc[:,1:] #remove the unnamed column
gadf["county"]= list(map(lambda x : x.replace("County", "").replace("-",""), gadf["county_name"]))
print("gadf.county has been trimmed")
gadf = pd.merge(gadf, popdf,  how='left', left_on=['city'], right_on = ['name']) # merge the gadf with popdf
print("merge 1: gadf has been merged with popdf")
gadf = gadf[:-4]
saldf  = saldf.iloc[1:,:3]
print("saldf has been sliced")
saldf.columns =["Zip Code", "Number of Returns", "Income Per Return($)"]
print("saldf columns have been renamed")
gadf = pd.merge(gadf, saldf,  how='left', left_on=['zip'], right_on = ['Zip Code']) # merge the gadf with popdf
print("Merge 2: gadf is merged with saldf")
gadf = pd.merge(gadf, pop2df,  how='inner', left_on=['county'], right_on = ['County']) # merge the gadf with popdf
print("Merge 3: gadf is merged with pop2df")
gadf = pd.merge(gadf, pop4df,  how='inner', left_on=['County'], right_on = ['County']) # merge the gadf with popdf
print("Merge 4: gadf is merged with pop4df")
ga_lat = ga_incdf["Location"].str.split(",", n = 1, expand = True)
ga_lat.columns =["Latitude", "Longitude"] # Rename the columns




ga_incdf["Latitude"] = list(map(lambda x: float(x), ga_lat["Latitude"])) #Split the colum Location into Latitude and Longitude
print("ga_incdf.Latitude is converted to float")
ga_incdf["Longitude"] = list(map(lambda x: float(x), ga_lat["Longitude"]))
                             
ga_incdf = ga_incdf.drop(["Location"], axis=1) # drop the column Location
ga_incdf["Zip Code"] = list(map(lambda x: str(x), ga_incdf["Zip Code"]))
gadf = pd.merge(gadf, ga_incdf,  how='inner', left_on=['zip'], right_on = ['Zip Code']) # merge the gadf with popdf
print("Merge 5: gadf is merged with ga_incdf")
gadf = pd.merge(gadf, sfr3,  how='left', left_on=['city'], right_on = ['RegionName']) # merge the gadf with popdf
print("Merge 6: gadf is merged with sfr3")
gadf.head()

gadf.county has been trimmed
merge 1: gadf has been merged with popdf
saldf has been sliced
saldf columns have been renamed
Merge 2: gadf is merged with saldf
Merge 3: gadf is merged with pop2df
Merge 4: gadf is merged with pop4df
ga_incdf.Latitude is converted to float
Merge 5: gadf is merged with ga_incdf
Merge 6: gadf is merged with sfr3

,latitude,longitude,city,county_name,beds,baths_full,baths_half,square_footage,lot_size,year_built,...,Population,Avg.Income/H/hold,NationalRank,Latitude,Longitude,RegionName,Avg_sfrgrowth_2021.0,avg_5yr_sfrgrowth,min_5yr_sfrgrowth,max_5yr_sfrgrowth
0,30.725605,-83.671772,Quitman,Brooks-County,NaN,NaN,NaN,NaN,4.0,NaN,...,9387,25132,28140,30.770770,-83.558433,NaN,NaN,NaN,NaN,NaN
1,30.781796,-83.558475,Quitman,Brooks-County,3.0,1.0,NaN,1460.0,0.0,1910.0,...,9387,25132,28140,30.770770,-83.558433,NaN,NaN,NaN,NaN,NaN
2,30.725605,-83.671772,Quitman,Brooks-County,NaN,NaN,NaN,NaN,4.0,NaN,...,9387,25132,28140,30.770770,-83.558433,NaN,NaN,NaN,NaN,NaN
3,30.781796,-83.558475,Quitman,Brooks-County,3.0,1.0,NaN,1460.0,0.0,1910.0,...,9387,25132,28140,30.770770,-83.558433,NaN,NaN,NaN,NaN,NaN
4,30.864096,-81.622765,Woodbine,Camden-County,3.0,2.0,NaN,1254.0,0.0,1985.0,...,4943,42416,9950,30.899649,-81.681881,NaN,NaN,NaN,NaN,NaN

## Data Cleaning

In [6]:

# Some columns have missing values
# Correct that with the right values
#check the column details for more information on the missing items
# 
# confirm that each column contains only a single data type
# Note that the target variables "population and salary by zip"
# are not in the file.
gadf.isna().sum()

latitude                        0
longitude                       0
city                            0
county_name                     0
beds                        16544
baths_full                  16727
baths_half                  24738
square_footage              18021
lot_size                     2648
year_built                  14127
details                         0
special_features                0
unit_count                  30275
price                           0
transaction_type                0
listing_status                  0
listing_special_features        0
census_state_name               0
census_county_name              0
zip                             0
county                          0
name                         3390
pop2022                      3390
pop2020                      3390
growth                       3390
density                      3390
aland_sqmi                   3390
Zip Code_x                  22600
Number of Returns           22600
Income Per Return($)        22600
County                          0
2020pop                         0
2019pop                         0
2018pop                         0
2017pop                         0
Percapita                       0
Median_household_income         0
Median_family_income            0
Pop2015                         0
Numberof_households2015         0
Zip Code_y                      0
City                            0
Population                      0
Avg.Income/H/hold               0
NationalRank                    0
Latitude                        0
Longitude                       0
RegionName                  25032
Avg_sfrgrowth_2021.0        25032
avg_5yr_sfrgrowth           25032
min_5yr_sfrgrowth           25032
max_5yr_sfrgrowth           25032
dtype: int64

In [7]:
# The NAN in these columns will be replaced with 0
missinglst1 = ["beds","baths_full", "baths_half", "square_footage", "lot_size", "year_built", "unit_count"]


for ele in missinglst1:
    gadf["{}".format(ele)] = np.where(gadf["{}".format(ele)].isna(), 0, gadf["{}".format(ele)])
    print("Nan in column {} has been replace with 0.".format(ele))
gadf.head()

Nan in column beds has been replace with 0.
Nan in column baths_full has been replace with 0.
Nan in column baths_half has been replace with 0.
Nan in column square_footage has been replace with 0.
Nan in column lot_size has been replace with 0.
Nan in column year_built has been replace with 0.
Nan in column unit_count has been replace with 0.

,latitude,longitude,city,county_name,beds,baths_full,baths_half,square_footage,lot_size,year_built,...,Population,Avg.Income/H/hold,NationalRank,Latitude,Longitude,RegionName,Avg_sfrgrowth_2021.0,avg_5yr_sfrgrowth,min_5yr_sfrgrowth,max_5yr_sfrgrowth
0,30.725605,-83.671772,Quitman,Brooks-County,0.0,0.0,0.0,0.0,4.0,0.0,...,9387,25132,28140,30.770770,-83.558433,NaN,NaN,NaN,NaN,NaN
1,30.781796,-83.558475,Quitman,Brooks-County,3.0,1.0,0.0,1460.0,0.0,1910.0,...,9387,25132,28140,30.770770,-83.558433,NaN,NaN,NaN,NaN,NaN
2,30.725605,-83.671772,Quitman,Brooks-County,0.0,0.0,0.0,0.0,4.0,0.0,...,9387,25132,28140,30.770770,-83.558433,NaN,NaN,NaN,NaN,NaN
3,30.781796,-83.558475,Quitman,Brooks-County,3.0,1.0,0.0,1460.0,0.0,1910.0,...,9387,25132,28140,30.770770,-83.558433,NaN,NaN,NaN,NaN,NaN
4,30.864096,-81.622765,Woodbine,Camden-County,3.0,2.0,0.0,1254.0,0.0,1985.0,...,4943,42416,9950,30.899649,-81.681881,NaN,NaN,NaN,NaN,NaN

In [8]:
# The NAN in these columns will be replaced with the median
missinglst2 = ["name", "pop2022", "pop2020", "growth", "density", "aland_sqmi" ]
#gadf[missinglst2].notnull()

for ele in missinglst2:
    gadf["{}".format(ele)] = np.where(gadf["{}".format(ele)].isna(), gadf["{}".format(ele)][gadf["{}".format(ele)].notnull().median()], gadf["{}".format(ele)])
    print("NAN in Column {} has been replaced with the median".format(ele))

NAN in Column name has been replaced with the median
NAN in Column pop2022 has been replaced with the median
NAN in Column pop2020 has been replaced with the median
NAN in Column growth has been replaced with the median
NAN in Column density has been replaced with the median
NAN in Column aland_sqmi has been replaced with the median

In [9]:
# The NAN here will be replace with the minimum
missinglst3 = list(gadf.iloc[:,-4:].columns)
missinglst3

for ele in missinglst3:
    mn = gadf[ele].min()
    gadf[ele]=np.where(gadf[ele]>-10,gadf[ele] ,mn)
    print("NaN has been replace with min in columns {}".format(ele))

NaN has been replace with min in columns Avg_sfrgrowth_2021.0
NaN has been replace with min in columns avg_5yr_sfrgrowth
NaN has been replace with min in columns min_5yr_sfrgrowth
NaN has been replace with min in columns max_5yr_sfrgrowth

In [10]:
# These columns will be droped
missinglst4 =["Zip Code_x", "Number of Returns", "Income Per Return($)","RegionName"]
gadf = gadf.drop(missinglst4, axis=1)
gadf.head()

,latitude,longitude,city,county_name,beds,baths_full,baths_half,square_footage,lot_size,year_built,...,City,Population,Avg.Income/H/hold,NationalRank,Latitude,Longitude,Avg_sfrgrowth_2021.0,avg_5yr_sfrgrowth,min_5yr_sfrgrowth,max_5yr_sfrgrowth
0,30.725605,-83.671772,Quitman,Brooks-County,0.0,0.0,0.0,0.0,4.0,0.0,...,Quitman,9387,25132,28140,30.770770,-83.558433,11.806439,5.912885,-0.013333,12.105755
1,30.781796,-83.558475,Quitman,Brooks-County,3.0,1.0,0.0,1460.0,0.0,1910.0,...,Quitman,9387,25132,28140,30.770770,-83.558433,11.806439,5.912885,-0.013333,12.105755
2,30.725605,-83.671772,Quitman,Brooks-County,0.0,0.0,0.0,0.0,4.0,0.0,...,Quitman,9387,25132,28140,30.770770,-83.558433,11.806439,5.912885,-0.013333,12.105755
3,30.781796,-83.558475,Quitman,Brooks-County,3.0,1.0,0.0,1460.0,0.0,1910.0,...,Quitman,9387,25132,28140,30.770770,-83.558433,11.806439,5.912885,-0.013333,12.105755
4,30.864096,-81.622765,Woodbine,Camden-County,3.0,2.0,0.0,1254.0,0.0,1985.0,...,Woodbine,4943,42416,9950,30.899649,-81.681881,11.806439,5.912885,-0.013333,12.105755

In [11]:
gadf.isna().sum()

latitude                    0
longitude                   0
city                        0
county_name                 0
beds                        0
baths_full                  0
baths_half                  0
square_footage              0
lot_size                    0
year_built                  0
details                     0
special_features            0
unit_count                  0
price                       0
transaction_type            0
listing_status              0
listing_special_features    0
census_state_name           0
census_county_name          0
zip                         0
county                      0
name                        0
pop2022                     0
pop2020                     0
growth                      0
density                     0
aland_sqmi                  0
County                      0
2020pop                     0
2019pop                     0
2018pop                     0
2017pop                     0
Percapita                   0
Median_household_income     0
Median_family_income        0
Pop2015                     0
Numberof_households2015     0
Zip Code_y                  0
City                        0
Population                  0
Avg.Income/H/hold           0
NationalRank                0
Latitude                    0
Longitude                   0
Avg_sfrgrowth_2021.0        0
avg_5yr_sfrgrowth           0
min_5yr_sfrgrowth           0
max_5yr_sfrgrowth           0
dtype: int64

In [12]:
# Check the data types of each of the columns
gadf["Zip"] =gadf["zip"]
gadf["county_new"] = gadf["County"]
gadf["city_new"] = gadf["city"]

for ele in gadf.columns:
    print(ele, type(gadf["{}".format(ele)][0])) # Check the data types

latitude <class 'numpy.float64'>
longitude <class 'numpy.float64'>
city <class 'str'>
county_name <class 'str'>
beds <class 'numpy.float64'>
baths_full <class 'numpy.float64'>
baths_half <class 'numpy.float64'>
square_footage <class 'numpy.float64'>
lot_size <class 'numpy.float64'>
year_built <class 'numpy.float64'>
details <class 'str'>
special_features <class 'numpy.int64'>
unit_count <class 'numpy.float64'>
price <class 'numpy.int64'>
transaction_type <class 'numpy.int64'>
listing_status <class 'numpy.int64'>
listing_special_features <class 'numpy.int64'>
census_state_name <class 'str'>
census_county_name <class 'str'>
zip <class 'str'>
county <class 'str'>
name <class 'str'>
pop2022 <class 'numpy.float64'>
pop2020 <class 'numpy.float64'>
growth <class 'numpy.float64'>
density <class 'numpy.float64'>
aland_sqmi <class 'numpy.float64'>
County <class 'str'>
2020pop <class 'numpy.int64'>
2019pop <class 'numpy.int64'>
2018pop <class 'numpy.int64'>
2017pop <class 'numpy.int64'>
Percapita <class 'numpy.int64'>
Median_household_income <class 'numpy.int64'>
Median_family_income <class 'numpy.int64'>
Pop2015 <class 'numpy.int64'>
Numberof_households2015 <class 'numpy.int64'>
Zip Code_y <class 'str'>
City <class 'str'>
Population <class 'numpy.int64'>
Avg.Income/H/hold <class 'numpy.int64'>
NationalRank <class 'numpy.int64'>
Latitude <class 'numpy.float64'>
Longitude <class 'numpy.float64'>
Avg_sfrgrowth_2021.0 <class 'numpy.float64'>
avg_5yr_sfrgrowth <class 'numpy.float64'>
min_5yr_sfrgrowth <class 'numpy.float64'>
max_5yr_sfrgrowth <class 'numpy.float64'>
Zip <class 'str'>
county_new <class 'str'>
city_new <class 'str'>

In [13]:
gadf["year_built"] = np.where(gadf["year_built"]==0, 0, 2022 - gadf["year_built"])# convert the year_built to years since built

In [14]:
gadf["year_built"]

0          0.0
1        112.0
2          0.0
3        112.0
4         37.0
         ...
30487     52.0
30488      0.0
30489     29.0
30490      0.0
30491      0.0
Name: year_built, Length: 30492, dtype: float64

In [15]:
for ele in gadf.columns:
    print(ele, type(gadf["{}".format(ele)][0]))

latitude <class 'numpy.float64'>
longitude <class 'numpy.float64'>
city <class 'str'>
county_name <class 'str'>
beds <class 'numpy.float64'>
baths_full <class 'numpy.float64'>
baths_half <class 'numpy.float64'>
square_footage <class 'numpy.float64'>
lot_size <class 'numpy.float64'>
year_built <class 'numpy.float64'>
details <class 'str'>
special_features <class 'numpy.int64'>
unit_count <class 'numpy.float64'>
price <class 'numpy.int64'>
transaction_type <class 'numpy.int64'>
listing_status <class 'numpy.int64'>
listing_special_features <class 'numpy.int64'>
census_state_name <class 'str'>
census_county_name <class 'str'>
zip <class 'str'>
county <class 'str'>
name <class 'str'>
pop2022 <class 'numpy.float64'>
pop2020 <class 'numpy.float64'>
growth <class 'numpy.float64'>
density <class 'numpy.float64'>
aland_sqmi <class 'numpy.float64'>
County <class 'str'>
2020pop <class 'numpy.int64'>
2019pop <class 'numpy.int64'>
2018pop <class 'numpy.int64'>
2017pop <class 'numpy.int64'>
Percapita <class 'numpy.int64'>
Median_household_income <class 'numpy.int64'>
Median_family_income <class 'numpy.int64'>
Pop2015 <class 'numpy.int64'>
Numberof_households2015 <class 'numpy.int64'>
Zip Code_y <class 'str'>
City <class 'str'>
Population <class 'numpy.int64'>
Avg.Income/H/hold <class 'numpy.int64'>
NationalRank <class 'numpy.int64'>
Latitude <class 'numpy.float64'>
Longitude <class 'numpy.float64'>
Avg_sfrgrowth_2021.0 <class 'numpy.float64'>
avg_5yr_sfrgrowth <class 'numpy.float64'>
min_5yr_sfrgrowth <class 'numpy.float64'>
max_5yr_sfrgrowth <class 'numpy.float64'>
Zip <class 'str'>
county_new <class 'str'>
city_new <class 'str'>

In [16]:
gadf_splt = gadf["details"].str.split(",", n = 4, expand = True)

In [17]:
gadf_splt.columns =["Type","size_in_acres", "num_of_beds", "number_of_bath","size_of_floor"]
gadf_splt["Type"].value_counts()

Lots/Land              13186
Detached               12086
Other                   2064
Commercial              1329
Condo                    759
Townhouse                706
Mobile/Manufactured      226
Multi-Family             136
Name: Type, dtype: int64

In [18]:
gadf["Type"] = gadf_splt["Type"]
gadf.head()

,latitude,longitude,city,county_name,beds,baths_full,baths_half,square_footage,lot_size,year_built,...,Latitude,Longitude,Avg_sfrgrowth_2021.0,avg_5yr_sfrgrowth,min_5yr_sfrgrowth,max_5yr_sfrgrowth,Zip,county_new,city_new,Type
0,30.725605,-83.671772,Quitman,Brooks-County,0.0,0.0,0.0,0.0,4.0,0.0,...,30.770770,-83.558433,11.806439,5.912885,-0.013333,12.105755,31643,Brooks,Quitman,Lots/Land
1,30.781796,-83.558475,Quitman,Brooks-County,3.0,1.0,0.0,1460.0,0.0,112.0,...,30.770770,-83.558433,11.806439,5.912885,-0.013333,12.105755,31643,Brooks,Quitman,Detached
2,30.725605,-83.671772,Quitman,Brooks-County,0.0,0.0,0.0,0.0,4.0,0.0,...,30.770770,-83.558433,11.806439,5.912885,-0.013333,12.105755,31643,Brooks,Quitman,Lots/Land
3,30.781796,-83.558475,Quitman,Brooks-County,3.0,1.0,0.0,1460.0,0.0,112.0,...,30.770770,-83.558433,11.806439,5.912885,-0.013333,12.105755,31643,Brooks,Quitman,Detached
4,30.864096,-81.622765,Woodbine,Camden-County,3.0,2.0,0.0,1254.0,0.0,37.0,...,30.899649,-81.681881,11.806439,5.912885,-0.013333,12.105755,31569,Camden,Woodbine,Detached

In [19]:
gadf=pd.get_dummies(gadf, prefix="Type_", # Dummify the column "Type"
                            columns=["Type"], 
                            drop_first=True)

In [20]:
gadf.head()

,latitude,longitude,city,county_name,beds,baths_full,baths_half,square_footage,lot_size,year_built,...,Zip,county_new,city_new,Type__Condo,Type__Detached,Type__Lots/Land,Type__Mobile/Manufactured,Type__Multi-Family,Type__Other,Type__Townhouse
0,30.725605,-83.671772,Quitman,Brooks-County,0.0,0.0,0.0,0.0,4.0,0.0,...,31643,Brooks,Quitman,0,0,1,0,0,0,0
1,30.781796,-83.558475,Quitman,Brooks-County,3.0,1.0,0.0,1460.0,0.0,112.0,...,31643,Brooks,Quitman,0,1,0,0,0,0,0
2,30.725605,-83.671772,Quitman,Brooks-County,0.0,0.0,0.0,0.0,4.0,0.0,...,31643,Brooks,Quitman,0,0,1,0,0,0,0
3,30.781796,-83.558475,Quitman,Brooks-County,3.0,1.0,0.0,1460.0,0.0,112.0,...,31643,Brooks,Quitman,0,1,0,0,0,0,0
4,30.864096,-81.622765,Woodbine,Camden-County,3.0,2.0,0.0,1254.0,0.0,37.0,...,31569,Camden,Woodbine,0,1,0,0,0,0,0

In [21]:
gadf

,latitude,longitude,city,county_name,beds,baths_full,baths_half,square_footage,lot_size,year_built,...,Zip,county_new,city_new,Type__Condo,Type__Detached,Type__Lots/Land,Type__Mobile/Manufactured,Type__Multi-Family,Type__Other,Type__Townhouse
0,30.725605,-83.671772,Quitman,Brooks-County,0.0,0.0,0.0,0.0,4.0,0.0,...,31643,Brooks,Quitman,0,0,1,0,0,0,0
1,30.781796,-83.558475,Quitman,Brooks-County,3.0,1.0,0.0,1460.0,0.0,112.0,...,31643,Brooks,Quitman,0,1,0,0,0,0,0
2,30.725605,-83.671772,Quitman,Brooks-County,0.0,0.0,0.0,0.0,4.0,0.0,...,31643,Brooks,Quitman,0,0,1,0,0,0,0
3,30.781796,-83.558475,Quitman,Brooks-County,3.0,1.0,0.0,1460.0,0.0,112.0,...,31643,Brooks,Quitman,0,1,0,0,0,0,0
4,30.864096,-81.622765,Woodbine,Camden-County,3.0,2.0,0.0,1254.0,0.0,37.0,...,31569,Camden,Woodbine,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30487,31.545665,-83.839933,Sylvester,Worth-County,3.0,2.0,0.0,1425.0,0.0,52.0,...,31791,Worth,Sylvester,0,1,0,0,0,0,0
30488,31.505435,-83.801560,Poulan,Worth-County,0.0,0.0,0.0,0.0,11.0,0.0,...,31791,Worth,Poulan,0,0,1,0,0,0,0
30489,31.563775,-83.844919,Sylvester,Worth-County,0.0,0.0,0.0,0.0,0.0,29.0,...,31791,Worth,Sylvester,0,1,0,0,0,0,0
30490,31.570411,-83.868652,Sylvester,Worth-County,0.0,0.0,0.0,0.0,4.0,0.0,...,31791,Worth,Sylvester,0,0,1,0,0,0,0
30491,31.539251,-83.834816,Sylvester,Worth-County,0.0,0.0,0.0,0.0,2.0,0.0,...,31791,Worth,Sylvester,0,0,1,0,0,0,0

In [22]:
import re
lst = list(map(lambda x: re.findall("\d+\.\d+", "{}".format(x)),gadf_splt["size_in_acres"]))

In [23]:
lst
for ele in range(len(gadf)):
    if len(lst[ele]) ==0:
        lst[ele] = 0
    else:
        lst[ele] = lst[ele][0]

In [24]:
lst

['4.93',
 0,
 '4.93',
 0,
 0,
 '3.66',
 '39.39',
 '1.02',
 '0.51',
 0,
 '1.04',
 '0.65',
 '0.74',
 '0.48',
 '1.00',
 0,
 '3.88',
 '0.98',
 0,
 0,
 '0.45',
 '12.00',
 '1.00',
 '0.56',
 '0.77',
 '0.75',
 '1.95',
 '5.00',
 '3.13',
 '0.67',
 '0.44',
 '0.69',
 '3.59',
 '0.09',
 '3.47',
 '0.46',
 '0.65',
 '0.50',
 '0.89',
 '0.51',
 0,
 '3.98',
 '0.32',
 '0.25',
 '0.63',
 '1.46',
 '0.32',
 0,
 '3.66',
 '39.39',
 '1.02',
 '0.51',
 0,
 '1.04',
 '0.65',
 '0.74',
 '0.48',
 '1.00',
 0,
 '3.88',
 '0.98',
 0,
 0,
 '0.45',
 '12.00',
 '1.00',
 '0.56',
 '0.77',
 '0.75',
 '1.95',
 '5.00',
 '3.13',
 '0.67',
 '0.44',
 '0.69',
 '3.59',
 '0.09',
 '3.47',
 '0.46',
 '0.65',
 '0.50',
 '0.89',
 '0.51',
 0,
 '3.98',
 '0.32',
 '0.25',
 '0.63',
 '1.46',
 '0.32',
 0,
 0,
 '13.56',
 '0.75',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '2.70',
 '3.30',
 '3.90',
 '5.00',
 '18.30',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '32.19',
 '1.36',
 0,
 0,
 0,
 0,
 0,
 '1.01',
 '6.82',
 0,
 '0.87',
 '14.99',
 0,
 '1.00',
 '1.82',
 0,
 0,
 '0.48',
 '0.80',
 '3.36',
 '3.57',
 '2.00',
 '12.80',
 '0.66',
 '1.10',
 '0.81',
 '0.41',
 '143.93',
 '1.31',
 '0.91',
 '1.03',
 '1.00',
 '3.89',
 '0.68',
 '0.24',
 0,
 '0.42',
 '0.60',
 '3.00',
 '1.48',
 '6.60',
 '0.01',
 '31.00',
 '0.95',
 '4.11',
 0,
 0,
 '13.56',
 '0.75',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '2.70',
 '3.30',
 '3.90',
 '5.00',
 '18.30',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '32.19',
 '1.36',
 0,
 0,
 0,
 0,
 0,
 '1.01',
 '6.82',
 0,
 '0.87',
 '14.99',
 0,
 '1.00',
 '1.82',
 0,
 0,
 '0.48',
 '0.80',
 '3.36',
 '3.57',
 '2.00',
 '12.80',
 '0.66',
 '1.10',
 '0.81',
 '0.41',
 '143.93',
 '1.31',
 '0.91',
 '1.03',
 '1.00',
 '3.89',
 '0.68',
 '0.24',
 0,
 '0.42',
 '0.60',
 '3.00',
 '1.48',
 '6.60',
 '0.01',
 '31.00',
 '0.95',
 '4.11',
 0,
 0,
 '0.20',
 '0.43',
 0,
 '0.67',
 0,
 '0.39',
 '3.40',
 0,
 0,
 '0.42',
 0,
 0,
 0,
 0,
 '0.17',
 0,
 '0.32',
 '0.92',
 '0.83',
 '0.41',
 '0.57',
 '0.17',
 '0.55',
 '0.24',
 '0.44',
 '0.18',
 '0.55',
 0,
 '0.52',
 '0.76',
 '0.60',
 '0.14',
 0,
 0,
 '0.69',
 0,
 '0.19',
 0,
 '0.53',
 '0.17',
 '0.61',
 '0.19',
 '1.10',
 '0.14',
 '0.14',
 '0.12',
 '0.53',
 '0.61',
 '1.38',
 '0.51',
 '0.26',
 '0.26',
 '0.45',
 '0.27',
 '0.18',
 '0.18',
 '0.37',
 '0.53',
 '0.43',
 '0.24',
 '0.46',
 '0.50',
 '0.35',
 '0.50',
 0,
 '0.50',
 '0.25',
 '0.51',
 '0.51',
 '0.19',
 '1.59',
 '0.30',
 '0.34',
 '1.50',
 '0.66',
 '3.85',
 '0.19',
 '5.00',
 '0.18',
 '0.50',
 '0.47',
 '0.22',
 '0.27',
 '0.33',
 0,
 '0.19',
 '0.14',
 '0.35',
 0,
 '0.38',
 '0.38',
 '0.36',
 0,
 '0.69',
 '0.17',
 '0.49',
 '0.46',
 '0.60',
 0,
 0,
 '0.21',
 0,
 '0.47',
 '0.47',
 '1.31',
 '0.17',
 0,
 0,
 '0.68',
 '0.29',
 '0.75',
 '0.77',
 '0.67',
 '0.58',
 '0.65',
 '0.34',
 '0.33',
 0,
 '0.89',
 0,
 '0.45',
 '0.45',
 '0.38',
 '0.45',
 '0.69',
 '1.04',
 0,
 '0.68',
 '0.37',
 '0.45',
 '0.36',
 '0.25',
 '0.50',
 '0.21',
 '0.34',
 '1.32',
 '0.34',
 '0.63',
 '0.23',
 '0.23',
 '0.23',
 '0.23',
 '0.44',
 '0.03',
 '0.02',
 '2.10',
 '0.42',
 '0.57',
 '0.42',
 '0.39',
 '0.23',
 '0.39',
 '0.14',
 '0.52',
 '0.28',
 '0.28',
 '0.29',
 '0.81',
 '0.54',
 '1.09',
 '0.82',
 '0.41',
 '0.41',
 '0.25',
 '1.08',
 '0.38',
 '0.29',
 '25.00',
 '0.81',
 '0.52',
 '0.32',
 '0.66',
 '0.41',
 0,
 0,
 '0.45',
 '0.14',
 '0.28',
 '0.27',
 '0.38',
 '0.44',
 0,
 0,
 '0.43',
 '0.37',
 '0.49',
 '0.39',
 '0.39',
 '1.01',
 0,
 0,
 '0.20',
 '0.43',
 0,
 '0.67',
 0,
 '0.39',
 '3.40',
 0,
 0,
 '0.42',
 0,
 0,
 0,
 0,
 '0.17',
 0,
 '0.32',
 '0.92',
 '0.83',
 '0.41',
 '0.57',
 '0.17',
 '0.55',
 '0.24',
 '0.44',
 '0.18',
 '0.55',
 0,
 '0.52',
 '0.76',
 '0.60',
 '0.14',
 0,
 0,
 '0.69',
 0,
 '0.19',
 0,
 '0.53',
 '0.17',
 '0.61',
 '0.19',
 '1.10',
 '0.14',
 '0.14',
 '0.12',
 '0.53',
 '0.61',
 '1.38',
 '0.51',
 '0.26',
 '0.26',
 '0.45',
 '0.27',
 '0.18',
 '0.18',
 '0.37',
 '0.53',
 '0.43',
 '0.24',
 '0.46',
 '0.50',
 '0.35',
 '0.50',
 0,
 '0.50',
 '0.25',
 '0.51',
 '0.51',
 '0.19',
 '1.59',
 '0.30',
 '0.34',
 '1.50',
 '0.66',
 '3.85',
 '0.19',
 '5.00',
 '0.18',
 '0.50',
 '0.47',
 '0.22',
 '0.27',
 '0.33',
 0,
 '0.19',
 '0.14',
 '0.35',
 0,
 '0.38',
 '0.38',
 '0.36',
 0,
 '0.69',
 '0.17',
 '0.49',
 '0.46',
 '0.60',
 0,
 0,
 '0.21',
 0,
 '0.47',
 '0.47',
 '1.31',
 '0.17',
 0,
 0,
 '0.68',
 '0.29',
 '0.75',
 '0.77',
 '0.67',
 '0.58',
 '0.65',
 '0.34',
 '0.33',
 0,
 '0.89',
 0,
 '0.45',
 '0.45',
 '0.38',
 '0.45',
 '0.69',
 '1.04',
 0,
 '0.68',
 '0.37',
 '0.45',
 '0.36',
 '0.25',
 '0.50',
 '0.21',
 '0.34',
 '1.32',
 '0.34',
 '0.63',
 '0.23',
 '0.23',
 '0.23',
 '0.23',
 '0.44',
 '0.03',
 '0.02',
 '2.10',
 '0.42',
 '0.57',
 '0.42',
 '0.39',
 '0.23',
 '0.39',
 '0.14',
 '0.52',
 '0.28',
 '0.28',
 '0.29',
 '0.81',
 '0.54',
 '1.09',
 '0.82',
 '0.41',
 '0.41',
 '0.25',
 '1.08',
 '0.38',
 '0.29',
 '25.00',
 '0.81',
 '0.52',
 '0.32',
 '0.66',
 '0.41',
 0,
 0,
 '0.45',
 '0.14',
 '0.28',
 '0.27',
 '0.38',
 '0.44',
 0,
 0,
 '0.43',
 '0.37',
 '0.49',
 '0.39',
 '0.39',
 '1.01',
 '3.36',
 '0.58',
 0,
 '0.23',
 '0.19',
 0,
 '0.38',
 '4.44',
 '5.69',
 '0.24',
 '0.96',
 '41.20',
 '0.58',
 '0.21',
 '0.22',
 '0.21',
 '0.26',
 '0.58',
 0,
 '0.95',
 '1.84',
 0,
 '0.52',
 '0.57',
 '10.33',
 0,
 '0.71',
 0,
 '0.45',
 0,
 '0.29',
 '0.33',
 '0.14',
 '3.36',
 '0.58',
 0,
 '0.23',
 '0.19',
 0,
 '0.38',
 '4.44',
 '5.69',
 '0.24',
 '0.96',
 '41.20',
 '0.58',
 '0.21',
 '0.22',
 '0.21',
 '0.26',
 '0.58',
 0,
 '0.95',
 '1.84',
 0,
 '0.52',
 '0.57',
 '10.33',
 0,
 '0.71',
 0,
 '0.45',
 0,
 '0.29',
 '0.33',
 '0.14',
 '0.20',
 '0.22',
 '22.00',
 '0.20',
 '0.22',
 '22.00',
 0,
 0,
 '1.90',
 '379.60',
 '0.50',
 '0.50',
 '1.08',
 '5.69',
 '1.51',
 '1.18',
 '1.31',
 '1.12',
 '1.01',
 '1.59',
 0,
 0,
 '13.00',
 '2.50',
 '6.00',
 '20.65',
 '24.38',
 '0.67',
 '5.69',
 '1.51',
 '1.18',
 '1.31',
 '1.12',
 '1.01',
 '1.59',
 0,
 0,
 '13.00',
 '2.50',
 '6.00',
 '20.65',
 '24.38',
 '0.67',
 0,
 0,
 0,
 '3.84',
 '1.62',
 0,
 '1.30',
 '0.96',
 '0.51',
 0,
 0,
 '3.60',
 0,
 '5.16',
 '1.00',
 '3.45',
 '1.05',
 '1.02',
 '1.09',
 0,
 '8.37',
 '4.58',
 '231.00',
 '56.00',
 '95.00',
 '382.79',
 '7.50',
 0,
 '3.39',
 0,
 '2.00',
 0,
 0,
 0,
 '3.84',
 '1.62',
 0,
 '1.30',
 '0.96',
 '0.51',
 0,
 0,
 '3.60',
 0,
 '5.16',
 '1.00',
 '3.45',
 '1.05',
 '1.02',
 '1.09',
 0,
 '8.37',
 '4.58',
 '231.00',
 '56.00',
 '95.00',
 '382.79',
 '7.50',
 0,
 '3.39',
 0,
 '2.00',
 0,
 0,
 0,
 0,
 0,
 0,
 '1.27',
 '1.18',
 '10.85',
 0,
 0,
 '1.27',
 '1.18',
 '10.85',
 '0.88',
 0,
 0,
 '0.52',
 0,
 '0.37',
 '0.09',
 '120.00',
 0,
 '0.88',
 0,
 0,
 '0.52',
 0,
 '0.37',
 '0.09',
 '120.00',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0.58',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0.58',
 0,
 0,
 0,
 0,
 0,
 '0.42',
 0,
 0,
 0,
 '0.42',
 0,
 '15.00',
 '15.00',
 '10.00',
 '10.00',
 '5.86',
 '5.08',
 '4.78',
 '5.66',
 '5.46',
 '5.34',
 '5.80',
 '6.11',
 '1.02',
 '1.02',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '0.23',
 '0.12',
 '0.12',
 '0.09',
 0,
 0,
 0,
 0,
 0,
 '0.40',
 0,
 0,
 0,
 0,
 0,
 0,
 '0.23',
 '0.12',
 '0.12',
 '0.09',
 0,
 0,
 0,
 0,
 0,
 '0.40',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '100.00',
 '1.01',
 '0.43',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '100.00',
 '1.01',
 '0.43',
 0,
 0,
 '16.56',
 0,
 0,
 '1.48',
 0,
 0,
 '10.80',
 0,
 '1.18',
 0,
 0,
 0,
 '0.20',
 '95.78',
 0,
 0,
 0,
 0,
 '0.13',
 '0.20',
 0,
 0,
 0,
 '0.57',
 '0.64',
 0,
 0,
 '0.61',
 '1.41',
 '1.94',
 '1.50',
 '1.25',
 '1.07',
 '0.98',
 '0.94',
 '0.92',
 0,
 '2.61',
 '6.06',
 0,
 '1.35',
 0,
 0,
 '1.20',
 0,
 0,
 0,
 '1.43',
 '0.72',
 '35.00',
 '23.00',
 0,
 0,
 '0.11',
 0,
 0,
 0,
 0,
 0,
 '39.86',
 '0.25',
 0,
 0,
 '0.50',
 0,
 '0.52',
 0,
 0,
 0,
 '0.43',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [25]:
gadf_splt["size_in_acres"]=list(map(lambda x: float(x), lst))
gadf_splt["size_in_acres"]

0         4.93
1         0.00
2         4.93
3         0.00
4         0.00
         ...
30487     0.00
30488    11.03
30489     0.55
30490     4.14
30491     2.00
Name: size_in_acres, Length: 30492, dtype: float64

In [26]:
gadf["size_in_acres"] = gadf_splt["size_in_acres"]

In [27]:
lst2 = list(map(lambda x: re.findall("\d ", "{}".format(x)),gadf_splt["num_of_beds"]))
lst3 = list(map(lambda x: re.findall("\d+", "{}".format(x)),gadf_splt["size_in_acres"]))

for ele in range(len(gadf)):
    if len(lst2[ele]) ==0:
        lst2[ele] = 0
    else:
        lst2[ele] = float(lst2[ele][0])

for ele in range(len(gadf)):
    if len(lst3[ele]) ==0:
        lst3[ele] = 0
    else:
        lst3[ele] = float(lst3[ele][0])

In [28]:
gadf["num_of_beds"] = np.array(lst2)+np.array(lst3)

In [29]:
#gadf.to_csv('ga_processed_df.csv',index=None)
#ga_df = pd.read_csv('ga_processed_df.csv')
#ga_df.head()

In [30]:
json_res = pd.read_json ("~/Desktop/Python_Machine_Learning_Project/ga_housing/all_zips_restaurant.json")
json_groc = pd.read_json ("~/Desktop/Python_Machine_Learning_Project/ga_housing/all_zips_grocery_store.json")

In [31]:
# We seek to determineif there is a grocery store in the 6km radius. If the response is very shory, say < 200 characters, we assumme that there is no restraurant, otherwise there is a restraurant and the full description is given. 
le =[]
for ele in range(len(json_groc)):
    
    if len(str(json_groc["responce"][ele])) < 1000:
         le.append(0)
    else:
        le.append(1)
#le

In [32]:
me =[]    # We seek to determineif there is a restaurant store in the 6km radius. If the response is very shory, say < 1000 characters, we assumme that there is no restraurant, otherwise there is a restraurant and the full description is given. 
for ele in range(len(json_res)):
    if len(str(json_res["responce"][ele])) < 1000:
         me.append(0)
    else:
        me.append(1)
#le

In [33]:
import re     # Use regualar expression to sxtract the float numbers
lst = list(map(lambda x: re.findall("\d+\.\d+", "{}".format(x)),json_res["params"]))

json_res1 = pd.DataFrame()
json_res1["Zip"] = list(json_res["census_zcta_geoid"])
#json_res1["Zip2"] = list(json_groc["census_zcta_geoid"])
json_res1["latlong"] =lst

json_res1

         Zip                   latlong
0      47236  [39.1517426, 85.7252769]
1      47870  [39.3701518, 87.4735141]
2      47851  [39.5735818, 87.2459626]
3      47337   [39.8027537, 85.437285]
4      47435  [39.2657557, 86.2951577]
...      ...                       ...
33786  37932  [35.9172993, 84.1987873]
33787  37341  [35.2199309, 85.0730025]
33788  37849  [36.0540502, 84.0484876]
33789  37754  [36.1390993, 84.0298007]
33790  37806  [36.0846931, 83.7279865]

[33791 rows x 2 columns]

In [34]:
a = []
b=[]
for ele in json_res1["latlong"]: # Split the latitude/Longitude and convert the string to intergers
    a.append(float(ele[0]))
    b.append( -1 * float(ele[1]))

In [35]:
json_res1 = json_res1.drop(["latlong"], axis =1) # Drop the column latlong
json_res1["Lat"] = a  # Create new columns for Latitude and Longitude
json_res1["Long"] = b

json_res1["groc_6km"] = le  # Create new columns for the response variables
json_res1["rest_6km"] = me
json_res1

         Zip        Lat       Long  groc_6km  rest_6km
0      47236  39.151743 -85.725277         1         0
1      47870  39.370152 -87.473514         1         0
2      47851  39.573582 -87.245963         1         0
3      47337  39.802754 -85.437285         1         1
4      47435  39.265756 -86.295158         1         1
...      ...        ...        ...       ...       ...
33786  37932  35.917299 -84.198787         1         0
33787  37341  35.219931 -85.073003         1         0
33788  37849  36.054050 -84.048488         1         1
33789  37754  36.139099 -84.029801         1         1
33790  37806  36.084693 -83.727987         1         0

[33791 rows x 5 columns]

In [36]:
json_res1.rest_6km.value_counts()

0    17996
1    15795
Name: rest_6km, dtype: int64

In [37]:
#import matplotlib.pyplot as plt
#plt.scatter(json_res1[['Long']],json_res1["Lat"])

In [38]:
crime_rate = pd.read_csv("~/Desktop/Python_Machine_Learning_Project/ga_housing/crime_rating_zipcode2.csv")
crime_rate["Zip_Code"] =crime_rate["Zip"]
crime_rate =crime_rate.drop(["Zip"], axis=1)
crime_rate.head()

   Crime_Rating  Zip_Code
0         3.106     30002
1         1.553     30004
2         1.480     30005
3         2.910     30008
4         1.611     30009

In [39]:
gadf.zip

0        31643
1        31643
2        31643
3        31643
4        31569
         ...
30487    31791
30488    31791
30489    31791
30490    31791
30491    31791
Name: zip, Length: 30492, dtype: object

In [40]:
json_res1["Zip"] = json_res1["Zip"].apply(lambda x : int(x))
gadf["Zip Code"] = gadf["zip"].apply(lambda x: int(x))
gadf = pd.merge(gadf, json_res1,  how='left', left_on=['Zip Code'], right_on = ['Zip']) # merge the gadf with popdf

gadf = pd.merge(gadf, crime_rate,  how='left', left_on=['Zip Code'], right_on = ['Zip_Code']) # merge the gadf with popdf

In [41]:
gadf = gadf[gadf.Crime_Rating.notnull()]
gadf.head()

,latitude,longitude,city,county_name,beds,baths_full,baths_half,square_footage,lot_size,year_built,...,size_in_acres,num_of_beds,Zip Code,Zip_y,Lat,Long,groc_6km,rest_6km,Crime_Rating,Zip_Code
0,30.725605,-83.671772,Quitman,Brooks-County,0.0,0.0,0.0,0.0,4.0,0.0,...,4.93,4.0,31643,31643,30.773089,-83.556898,1,1,4.708,31643.0
1,30.781796,-83.558475,Quitman,Brooks-County,3.0,1.0,0.0,1460.0,0.0,112.0,...,0.00,1.0,31643,31643,30.773089,-83.556898,1,1,4.708,31643.0
2,30.725605,-83.671772,Quitman,Brooks-County,0.0,0.0,0.0,0.0,4.0,0.0,...,4.93,4.0,31643,31643,30.773089,-83.556898,1,1,4.708,31643.0
3,30.781796,-83.558475,Quitman,Brooks-County,3.0,1.0,0.0,1460.0,0.0,112.0,...,0.00,1.0,31643,31643,30.773089,-83.556898,1,1,4.708,31643.0
4,30.864096,-81.622765,Woodbine,Camden-County,3.0,2.0,0.0,1254.0,0.0,37.0,...,0.00,2.0,31569,31569,30.933780,-81.737076,1,1,2.600,31569.0

In [42]:
gadf.iloc[:, 50:]

,city_new,Type__Condo,Type__Detached,Type__Lots/Land,Type__Mobile/Manufactured,Type__Multi-Family,Type__Other,Type__Townhouse,size_in_acres,num_of_beds,Zip Code,Zip_y,Lat,Long,groc_6km,rest_6km,Crime_Rating,Zip_Code
0,Quitman,0,0,1,0,0,0,0,4.93,4.0,31643,31643,30.773089,-83.556898,1,1,4.708,31643.0
1,Quitman,0,1,0,0,0,0,0,0.00,1.0,31643,31643,30.773089,-83.556898,1,1,4.708,31643.0
2,Quitman,0,0,1,0,0,0,0,4.93,4.0,31643,31643,30.773089,-83.556898,1,1,4.708,31643.0
3,Quitman,0,1,0,0,0,0,0,0.00,1.0,31643,31643,30.773089,-83.556898,1,1,4.708,31643.0
4,Woodbine,0,1,0,0,0,0,0,0.00,2.0,31569,31569,30.933780,-81.737076,1,1,2.600,31569.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30501,Sylvester,0,1,0,0,0,0,0,0.00,2.0,31791,31791,31.528949,-83.894253,0,1,3.795,31791.0
30502,Poulan,0,0,1,0,0,0,0,11.03,11.0,31791,31791,31.528949,-83.894253,0,1,3.795,31791.0
30503,Sylvester,0,1,0,0,0,0,0,0.55,0.0,31791,31791,31.528949,-83.894253,0,1,3.795,31791.0
30504,Sylvester,0,0,1,0,0,0,0,4.14,4.0,31791,31791,31.528949,-83.894253,0,1,3.795,31791.0
30505,Sylvester,0,0,1,0,0,0,0,2.00,2.0,31791,31791,31.528949,-83.894253,0,1,3.795,31791.0

In [43]:
gadf.isna().sum()

latitude        0
longitude       0
city            0
county_name     0
beds            0
               ..
Long            0
groc_6km        0
rest_6km        0
Crime_Rating    0
Zip_Code        0
Length: 68, dtype: int64

In [44]:

# Drop these unnecesary columns
droplst =["city", "county_name", "county","transaction_type","county_new","Zip_x","Zip_y","NationalRank","Type__Mobile/Manufactured","Type__Multi-Family", "Type__Condo", "Type__Lots/Land", "Type__Other", "Type__Townhouse", "size_in_acres", "num_of_beds", "Latitude", "Longitude", "city_new", "census_state_name", "census_county_name", "zip","Zip Code", "Zip_Code", "name"]
gadf = gadf.drop(droplst, axis=1)
gadf["Zip Code"] =gadf["Zip Code_y"]
gadf = gadf.drop(["details", "Zip Code_y", "City"], axis=1)
gadf = gadf[gadf["Type__Detached"]==1]

In [45]:
#gadf = gadf[gadf["Type__Detached"]==1]

In [46]:
gadf.iloc[:,:]

,latitude,longitude,beds,baths_full,baths_half,square_footage,lot_size,year_built,special_features,unit_count,...,avg_5yr_sfrgrowth,min_5yr_sfrgrowth,max_5yr_sfrgrowth,Type__Detached,Lat,Long,groc_6km,rest_6km,Crime_Rating,Zip Code
1,30.781796,-83.558475,3.0,1.0,0.0,1460.0,0.0,112.0,0,0.0,...,5.912885,-0.013333,12.105755,1,30.773089,-83.556898,1,1,4.708,31643
3,30.781796,-83.558475,3.0,1.0,0.0,1460.0,0.0,112.0,0,0.0,...,5.912885,-0.013333,12.105755,1,30.773089,-83.556898,1,1,4.708,31643
4,30.864096,-81.622765,3.0,2.0,0.0,1254.0,0.0,37.0,0,0.0,...,5.912885,-0.013333,12.105755,1,30.933780,-81.737076,1,1,2.600,31569
15,30.856803,-81.643137,3.0,2.0,1.0,2224.0,3.0,25.0,0,0.0,...,5.912885,-0.013333,12.105755,1,30.933780,-81.737076,1,1,2.600,31569
19,30.962536,-81.718704,3.0,2.0,0.0,1993.0,1.0,82.0,0,0.0,...,5.912885,-0.013333,12.105755,1,30.933780,-81.737076,1,1,2.600,31569
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30486,33.729126,-82.765245,3.0,1.0,0.0,1045.0,0.0,50.0,0,0.0,...,5.912885,-0.013333,12.105755,1,33.728090,-82.716244,1,0,2.912,30673
30489,32.682310,-83.148513,1.0,1.0,0.0,800.0,4.0,5.0,0,0.0,...,5.912885,-0.013333,12.105755,1,32.621094,-83.232220,1,0,1.282,31017
30491,32.680070,-83.249689,2.0,2.0,0.0,2400.0,24.0,15.0,0,0.0,...,5.912885,-0.013333,12.105755,1,32.621094,-83.232220,1,0,1.282,31017
30501,31.545665,-83.839933,3.0,2.0,0.0,1425.0,0.0,52.0,0,0.0,...,5.912885,-0.013333,12.105755,1,31.528949,-83.894253,0,1,3.795,31791
30503,31.563775,-83.844919,0.0,0.0,0.0,0.0,0.0,29.0,0,2.0,...,5.912885,-0.013333,12.105755,1,31.528949,-83.894253,0,1,3.795,31791

In [47]:
gadf[gadf["Type__Detached"]==1]["lot_size"].value_counts().head(20)

0.0     8522
1.0     1561
2.0      509
3.0      278
5.0      202
4.0      163
6.0      105
7.0       72
10.0      49
8.0       48
9.0       48
11.0      42
12.0      33
13.0      23
17.0      22
15.0      21
20.0      20
21.0      19
14.0      18
22.0      15
Name: lot_size, dtype: int64

In [49]:
#gadf["pop_growth_2021"] = (100*(gadf["pop2022"]-gadf["pop2020"])/(gadf["pop2020"]))
gadf["pop_growth_2020"] = (100*(gadf["2020pop"]- gadf["2019pop"])/(gadf["2019pop"]))
gadf["pop_growth_2019"] = (100*(gadf["2019pop"]- gadf["2018pop"])/(gadf["2018pop"]))
gadf["pop_growth_2018"] = (100*(gadf["2018pop"]- gadf["2017pop"])/(gadf["2017pop"]))

In [50]:
gadf["pop_growth_2022"]= 100*gadf["growth"]
gadf["4yrs_min_pop_growth"] = list(map(lambda x,y,z,w: min(x,y,z,w), gadf["pop_growth_2022"],gadf["pop_growth_2020"],gadf["pop_growth_2019"],gadf["pop_growth_2018"]))

In [51]:
gadf["4yrs_min_pop_growth"][gadf["4yrs_min_pop_growth"]>=2]
gadf["4yrs_max_pop_growth"] = list(map(lambda x,y,z,w: max(x,y,z,w), gadf["pop_growth_2022"],gadf["pop_growth_2020"],gadf["pop_growth_2019"],gadf["pop_growth_2018"]))
gadf["4yrs_max_pop_growth"]

1        9.468728
3        9.468728
4        6.669927
15       6.669927
19       6.669927
           ...
30486    2.900030
30489    7.925502
30491    7.925502
30501    7.867586
30503    7.867586
Name: 4yrs_max_pop_growth, Length: 12091, dtype: float64

In [52]:
gadf["avg_growth"] = list(map(lambda x,y,z,w: (x+y+z+w)/4, gadf["pop_growth_2022"],gadf["pop_growth_2020"],gadf["pop_growth_2019"],gadf["pop_growth_2018"]))
gadf[gadf["avg_growth"] == gadf["avg_growth"].max()]

,latitude,longitude,beds,baths_full,baths_half,square_footage,lot_size,year_built,special_features,unit_count,...,Crime_Rating,Zip Code,geometry,pop_growth_2020,pop_growth_2019,pop_growth_2018,pop_growth_2022,4yrs_min_pop_growth,4yrs_max_pop_growth,avg_growth
28602,33.526867,-83.458328,4.0,3.0,1.0,3594.0,0.0,0.0,2,0.0,...,2.352,30650,POINT (-83.45833 33.52687),4.723121,3.599874,3.993767,17.23,3.599874,17.23,7.386691
28603,33.526867,-83.458328,4.0,3.0,1.0,3594.0,0.0,0.0,2,0.0,...,2.352,30650,POINT (-83.45833 33.52687),4.723121,3.599874,3.993767,17.23,3.599874,17.23,7.386691

In [59]:
pc_data1.shape

(12091, 2)

In [60]:
# PCA for gadf dataframe
gadf3 =gadf.iloc[:,:33]
gadf3

,latitude,longitude,beds,baths_full,baths_half,square_footage,lot_size,year_built,special_features,unit_count,...,Percapita,Median_household_income,Median_family_income,Pop2015,Numberof_households2015,Population,Avg.Income/H/hold,Avg_sfrgrowth_2021.0,avg_5yr_sfrgrowth,min_5yr_sfrgrowth
1,30.781796,-83.558475,3.0,1.0,0.0,1460.0,0.0,112.0,0,0.0,...,20346,41309,47599,16243,6457,9387,25132,11.806439,5.912885,-0.013333
3,30.781796,-83.558475,3.0,1.0,0.0,1460.0,0.0,112.0,0,0.0,...,20346,41309,47599,16243,6457,9387,25132,11.806439,5.912885,-0.013333
4,30.864096,-81.622765,3.0,2.0,0.0,1254.0,0.0,37.0,0,0.0,...,22022,49230,57366,50513,18047,4943,42416,11.806439,5.912885,-0.013333
15,30.856803,-81.643137,3.0,2.0,1.0,2224.0,3.0,25.0,0,0.0,...,22022,49230,57366,50513,18047,4943,42416,11.806439,5.912885,-0.013333
19,30.962536,-81.718704,3.0,2.0,0.0,1993.0,1.0,82.0,0,0.0,...,22022,49230,57366,50513,18047,4943,42416,11.806439,5.912885,-0.013333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30486,33.729126,-82.765245,3.0,1.0,0.0,1045.0,0.0,50.0,0,0.0,...,16993,28022,39109,10593,4263,8085,28431,11.806439,5.912885,-0.013333
30489,32.682310,-83.148513,1.0,1.0,0.0,800.0,4.0,5.0,0,0.0,...,17929,37902,49138,9563,3666,2082,29865,11.806439,5.912885,-0.013333
30491,32.680070,-83.249689,2.0,2.0,0.0,2400.0,24.0,15.0,0,0.0,...,17929,37902,49138,9563,3666,2082,29865,11.806439,5.912885,-0.013333
30501,31.545665,-83.839933,3.0,2.0,0.0,1425.0,0.0,52.0,0,0.0,...,18348,38670,46791,21679,8214,12927,32419,11.806439,5.912885,-0.013333
30503,31.563775,-83.844919,0.0,0.0,0.0,0.0,0.0,29.0,0,2.0,...,18348,38670,46791,21679,8214,12927,32419,11.806439,5.912885,-0.013333